/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */
/* ATENÇÃO, ESSA É A ÚNICA PÁGINA QUE NÃO É MOBILE FIRST POR MOTIVOS ÓBVIOS */
/* //////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */

[type=radio] {
   display: none;
}

.slider-container {
   background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(1, 212, 255, 0.20030120481927716) 100%);
   user-select: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100vh;
   margin: auto;
   padding: 0 6vw 0 8vw;
}

.slider-container__descricao {
   flex: .5;
   padding: 20px;
   order: 1;
}

.slider-container__descricao__titulo {
   color: var(--cor-azul-marinho);
   font-size: 40px;
   font-weight: 600;
   line-height: 44px;
   padding-bottom: 3vh;
}

.slider-container__descricao__titulo>strong {
   color: var(--cor-azul-bg);
   font-weight: 600;
   width: 60%;
}

.slider-container__descricao__texto {
   color: var(--cor-azul-marinho);
   line-height: 33px;
   font-size: 20px;
   font-weight: 500;
   width: 85%;
}

.slider-container__descricao__botao {
   display: flex;
   gap: 20px;
   margin: 7vh 0;
   width: 100%;
}

.slider-container__descricao__botao-link {
   color: var(--cor-branco);
   background-color: var(--cor-azul-marinho);
   border-radius: 5px;
   text-align: center;
   font-weight: 400;
   font-size: 18px;
   padding: 20px;
   box-shadow: var(--shadow);
}

.slider-container__descricao__botao-link:hover {
   transition: 0.2s;
   background-color: #02122b;
}

.slider-container__slider {
   flex: 1;
   display: flex;
   justify-content: right;
   order: 2;
}

#slider {
   width: 70%;
   height: 40vw;
   position: relative;
   perspective: 1000px;
   transform-style: preserve-3d;
}

#slider label {
   width: 70%;
   height: 100%;
   border-radius: 10px;
   position: absolute;
   left: 0;
   right: 0;
   cursor: pointer;
   transition: transform 0.4s ease;
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
   transform: translate3d(-40%, 0, -200px);
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
   transform: translate3d(-20%, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
   box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
   transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
   transform: translate3d(20%, 0, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
   transform: translate3d(40%, 0, -200px);
}

/* EDIÇÃO DOS CARDS DO SLIDER */

.slider__slides {
   position: relative;
}

#slide1 {
   background: url(../../img/slider/cftv-desk-slider-minutos-telecom.webp) center no-repeat;
   background-size: cover;
}

#slide2 {
   background: url(../../img/slider/internet-gamer-desk-slider-minutos-telecom.webp) center no-repeat;
   background-size: cover;
}

#slide3 {
   background: url(../../img/slider/banda-larga-corporativo-desk-slider-minutos-telecom.webp) center no-repeat;
   background-size: cover;

}

#slide4 {
   background: url(../../img/slider/voip-desk-slider-minutos-telecom.webp) center no-repeat;
   background-size: cover;
}

#slide5 {
   background: url(../../img/slider/smart-home-desk-slider-minutos-telecom.webp) center no-repeat;
   background-size: cover;
}


@media screen and (max-width: 1024px) {

   .slider-container {
      display: block;
      margin: auto;
      padding: 5vh 0 0 0;
      height: auto;
   }

   .slider-container__descricao {
      order: 2;
      padding: 5vh 75px;
      display: flex;
      gap: 50px;
   }

   .slider-container__slider {
      order: 1;
      height: auto;
   }

   .slider {
      height: 32vh;
   }

   #slider {
      width: 80%;
      height: 38vw;
      position: relative;
      perspective: 1000px;
      transform-style: preserve-3d;
   }
/* 
   .slider-button-link {
      font-weight: 700;
      font-size: 2.5vh;
      padding: 1vh 9vw;
      bottom: 1vh;
      right: 18%;
   } */

   #slide1 {
      background: url(../../img/slider/cftv-tablet-slider-minutos-telecom.webp);
      background-size: cover;
   }

   #slide2 {
      background: url(../../img/slider/internet-gamer-tablet-slider-minutos-telecom.webp);
      background-size: cover;
   }

   #slide3 {
      background: url(../../img/slider/banda-larga-corporativo-tablet-slider-minutos-telecom.webp);
      background-size: cover;
   }

   #slide4 {
      background: url(../../img/slider/voip-tablet-slider-minutos-telecom.webp);
      background-size: cover;
   }

   #slide5 {
      background: url(../../img/slider/smart-home-tablet-slider-minutos-telecom.webp);
      background-size: cover;
   }

   .slider-container__descricao-titulo-e-texto {
      text-align: right;
      width: 100%;
   }

   .slider-container__descricao__titulo {
      font-size: 35px;
      padding-bottom: 3vh;
   }

   .slider-container__descricao__texto {
      width: 100%;
      line-height: 35px;
      font-size: 20px;
   }

   .slider-container__descricao__botao {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3vh;
      margin: 0;
      padding: 0;
      width: 100%;
   }

   .slider-container__descricao__botao-link {
      color: var(--cor-branco);
      background-color: var(--cor-azul-marinho);
      font-size: 18px;
      padding: 30px 20px;
      border-radius: 10px;
      text-align: center;

   }


}

@media screen and (max-width: 480px) {

   .slider-container {
      padding: 3vh 0;
   }

   .slider-container__slider {
      height: 35vh;
      justify-content: space;
   }

   #slider {
      width: 90%;
      margin: auto;
      height: 100%;
      perspective: 1000px;
      transform-style: preserve-3d;
   }

   #slider label {
      width: 90%;
   }

   .slider__slides {
      margin: auto;
   }

   #s1:checked~#slide4,
   #s2:checked~#slide5,
   #s3:checked~#slide1,
   #s4:checked~#slide2,
   #s5:checked~#slide3 {
      transform: translate3d(-20%, 0, -200px);
   }

   #s1:checked~#slide5,
   #s2:checked~#slide1,
   #s3:checked~#slide2,
   #s4:checked~#slide3,
   #s5:checked~#slide4 {
      transform: translate3d(-10%, 0, -100px);
   }

   #s1:checked~#slide2,
   #s2:checked~#slide3,
   #s3:checked~#slide4,
   #s4:checked~#slide5,
   #s5:checked~#slide1 {
      transform: translate3d(10%, 0, -100px);
   }

   #s1:checked~#slide3,
   #s2:checked~#slide4,
   #s3:checked~#slide5,
   #s4:checked~#slide1,
   #s5:checked~#slide2 {
      transform: translate3d(20%, 0, -200px);
   }


   .slider-button-link {
      font-weight: 700;
      font-size: 2.5vh;
      padding: 1vh 9vw;
      bottom: 2vh;
      right: 22%;
   }

   .slider-container__descricao {
      display: block;
      padding: 50px 30px 10px 30px;
      
   }

   .slider-container__descricao-titulo-e-texto {
      text-align: left;
   }

   .slider-container__descricao__titulo {
      font-size: 25px;
      width: 60%;
      line-height: 30px;
      padding-bottom: 20px;
   }
   
   .slider-container__descricao__texto {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 2vh;
   }

   .slider-container__descricao__botao {
      flex-direction: row;
      gap: 20px;

   }

   .slider-container__descricao__botao-link {
      font-size: 20px;
      line-height: 30px;
      margin-top: 1vh;
      text-align: left;
      padding: 20px;
   }

   
   #slide1 {
      background: url(../../img/slider/cftv-mobile-slider-minutos-telecom.webp) center center;
      background-size: cover;
   }

   #slide2 {
      background: url(../../img/slider/internet-gamer-mobile-slider-minutos-telecom.webp) center center;
      background-size: cover;
   }

   #slide3 {
      background: url(../../img/slider/banda-larga-corporativo-mobile-slider-minutos-telecom.webp) center center;
      background-size: cover;
   }

   #slide4 {
      background: url(../../img/slider/voip-mobile-slider-minutos-telecom.webp) center center;
      background-size: cover;
   }

   #slide5 {
      background: url(../../img/slider/smart-home-mobile-slider-minutos-telecom.webp) center center;
      background-size: cover;
   }

}