.footer-container {
    font-family: var(--fonte-principal);
    color: var(--cor-branco);
    background-color: var(--cor-azul-bg);
}

.footer__redes-sociais {
    background-color: var(--cor-branco);
    height: 50px;
    width: 100vw;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__redes-sociais__item {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
        height: 15px;
    }

    p {
        color: var(--cor-cinza);
        font-size: 11px;
    }
}

.footer-container__dados {
    padding: 30px;
}

.footer-container__dados__fale-conosco {
    margin-bottom: 20px;
}

.footer-container__dados__fale-conosco__titulo {
    font-size: 20px;
    font-weight: 600;
    padding: 30px 30px 0 30px;
}

.footer-container__dados__fale-conosco__item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    line-height: 20px;

    img {
        height: 20px;
        width: auto;
    }

    p {
        font-size: 15px;
    }
}

.footer-container__dados__maps__mapa {
    width: 100%;
    height: 295px;
    justify-self: center;
    display: flex;
    margin-bottom: 20px;
    box-shadow: var(--shadow);
}

.footer-container__dados__suporte {
    display: flex;
}

.footer-container__dados__suporte__titulo-flex {
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.footer-container__dados__suporte__titulo {
    font-size: 4.5vw;
    line-height: 25px;
    font-weight: 600;
    width: 50%;

    img {
        height: 25px;
    }
}

.footer-container__dados__suporte__texto {
    display: none;
}

.footer-container__dados__suporte__btn {
    width: 50%;
    font-weight: 600;
    align-self: center;

    a {
        padding: 10px;
        background-color: var(--cor-whatsapp);
        border-radius: 10px;
        font-size: 20px;
        box-shadow: var(--shadow);
        color: var(--cor-azul-marinho);
    }
}

.footer-container__direitos {
    color: rgb(212, 212, 212);
    font-size: 10px;
    padding: 0 30px 30px 30px;
    text-align: center;

    p {
        margin-bottom: 5px;
    }

    a {
        color: rgb(212, 212, 212);
        text-decoration: underline;
    }
}


@media (min-width: 480px) {

    .footer__redes-sociais {
        width: 100%;
    }

    .footer-container__dados {
        padding: 30px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .footer-container__dados__fale-conosco {
        width: 300px;
        min-width: 300px;
    }
    

    .footer-container__dados__maps__mapa {
        width: 25vw;
        height: 200px;
    }

    .footer-container__dados__suporte {
        flex-direction: column;
        width: 30vw;
        margin-top: -10px;
    }

    .footer-container__dados__suporte__titulo {
        font-size: 20px;
        width: 100%;
    }

    .footer-container__dados__suporte__texto {
        display: block;
        font-size: 15px;
        line-height: 20px;
        width: 70%;
        margin: 10px 0 30px 0; 
    }

    .footer-container__dados__suporte__btn {
        width: auto;
        align-self: flex-start;

        a {
            font-size: 15px;
        }
    }

}


@media (min-width: 1025px) {

    .footer__redes-sociais {
        justify-content: center;
        gap: 200px;
        height: 35px;
    }

    .footer-container__dados__fale-conosco__titulo {
        margin: 30px 8vw;
        padding: 0;
    }

    .footer-container__dados {
        padding: 0 8vw;
        margin-bottom: 20px;
    }

    .footer-container__dados__suporte {
        width: 300px;
        min-width: 300px;
    }

    .footer-container__dados__suporte__btn {
        a {
            transition: 0.3s;
        }
        
        a:hover {
            background-color: #158025;
        }
    }


}