.header__logo-container {
    width: 100vw;
    background-color: var(--cor-azul-bg);
    text-align: center;
}

.header__logo {
    padding: 40px 0 30px 0;
}

.header__logo-logo {
    height: 77px;
}

#btn-menu-principal {
    display: flex;
    flex-direction: column;
    background: none;
    margin: auto;
    border: none;
    color: var(--cor-branco);

    label {
        font-size: 10px;
        margin-left: -1px;
        margin-bottom: 5px;
        text-align: center;
    }
}

#hamburguer {
    width: 25px;
    border-top: 2px solid;
}

#hamburguer::after,
#hamburguer::before {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .5s;
    position: relative;
}

#menu {
    display: block;
    background-color: var(--cor-azul-marinho);
    border-radius: 10px;
    height: 0px;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
}

.header__nav-container {
    background-color: var(--cor-azul-bg);
}

.header__nav {
    padding: 20px;
    padding-top: 0;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    background-color: var(--cor-primaria);
    height: auto;
    opacity: 100%;
    margin-top: -1px;
}

#header__nav.active #menu {
    display: block;
    justify-content: center;
    height: 38vh;
    opacity: 1;
    visibility: visible;
}

#header__nav.active #hamburguer {
    border-top-color: transparent;
}

#header__nav.active #hamburguer::before {
    transform: rotate(135deg);
}

#header__nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
}

.header__nav__lista {
    display: flex;
    flex-direction: column;
    opacity: 1;
    max-height: auto;
    padding: 10px 0;
    justify-content: center;
}

.header__nav__lista-hidden {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.header__nav__lista__item {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 4vh;
    transition: 0.3s;
}

.header__nav__lista__menu-secundario a {
    color: var(--cor-azul-agua);
}

#btn-dropmenu {
    display: none;
}


@media (min-width: 480px) {

    .header__logo-container {
        width: 100%;
    }

    .header__nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    #btn-menu-principal {
        display: none;
    }

    #menu {
        margin-top: 0;
        border-radius: 0;
    }

    #header__nav.active #menu {
        display: block;
        height: auto;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .header__nav__lista {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .header__nav__lista__menu-secundario {
        display: none;
    }

    .dropmenu li:first-child {
        margin-top: 20px;
    }


    .header__nav li:hover>.dropmenu .header__nav__lista__menu-secundario {
        display: flex;
        min-height: 40px;
    }

    #btn-dropmenu {
        font-family: var(--fonte-principal);
        font-size: 20px;
        font-weight: 500;
        color: #FFF;
        background-color: #124A9F;
        padding: 15px 21px;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }

    #btn-dropmenu img {
        margin-left: 34px;
    }

    .dropmenu {
        width: auto;
        padding: 0 20px 10px 20px;
        position: absolute;
        top: 50px;
        display: flex;
        gap: 0;
        flex-direction: column;
        background-color: #124A9F;
        border-radius: 0 0 10px 10px;
        transition: 0.3s;
    }

    .header__nav__lista__menu-secundario a {
        color: var(--cor-branco);
        transition: 0.3s;
    }

    .pagina-ativa {
        color: var(--cor-azul-agua);
    }

    /* PARA AS PÁGINAS "CLIENTE" A PARAMETRIZAÇÃO ESTARÁ NO "BANNER.CSS" DE CADA UM */

}


@media (min-width: 1025px) {

    .header-container {
        display: flex;
    }

    .header__logo-container {
        height: 143px;
        width: 45vw;
        text-align: left;
    }

    .header__logo {
        padding-left: 22%;
    }

    .header__nav-container {
        width: 55vw;
    }

    .header__nav__lista {
        height: 143px;
        padding: 0 12% 0 0;
    }

    .header__nav__lista__item {
        font-size: 18px;
    }

    .dropmenu {
        top: 86px;
    }

    #btn-dropmenu {
        font-size: 18px;
    }

    #btn-dropmenu img {
        margin-left: 39.5px;
    }

    .header__nav__lista__item:hover,
    .header__nav__lista__menu-secundario a:hover {
        color: var(--cor-azul-agua);
    }

}


@media (min-width: 1441px) {

    .header-container {
        display: flex;
    }

    .header__logo-container {
        height: 143px;
        width: 45vw;
        text-align: left;
    }

    .header__logo {
        padding-left: 22%;
    }

    .header__nav-container {
        width: 55vw;
    }

    .header__nav__lista {
        height: 143px;
        padding: 0 12% 0 0;
    }

    .header__nav__lista__item {
        font-size: 20px;
    }

    .dropmenu {
        top: 87px;
    }

    #btn-dropmenu {
        font-size: 20px;
    }

    #btn-dropmenu img {
        margin-left: 47px;
    }

    .header__nav__lista__item:hover,
    .header__nav__lista__menu-secundario a:hover {
        color: var(--cor-azul-agua);
    }

}