/* ESTE CSS FUNCIONA PARA TODAS AS PÁGINAS QUE NÃO SÃO A HOME */

@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url(header.css);

@import url(contato.css);
@import url(residencial/banner.css);
@import url(residencial/servicos.css);
@import url(residencial/servicos-cards.css);
@import url(corporativo/servicos.css);
@import url(area-do-cliente/banner.css);
@import url(area-do-cliente/login.css);
@import url(area-do-cliente/esqueci-minha-senha.css);
@import url(area-do-cliente/nao-tenho-senha.css);
@import url(softphone/download.css);
@import url(contratos/download.css);

@import url(footer.css);


:root {
    --cor-azul-bg: #124A9F;
    --cor-azul-agua: #3BD8FF;
    --cor-azul-claro-bg: #c5f4ff;
    --cor-branco: white;
    --cor-azul-marinho: #01255A;
    --cor-azul-marinho-hover: #02122b;
    --cor-whatsapp: #2AB640;
    --cor-cinza: #6E6E6E;
    --cor-preto: #000000;
    --degrade-azul-claro: linear-gradient(0deg, rgba(255, 255, 255, 1) 100%, rgba(1, 212, 255, 0.2) 100%);
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    --fonte-principal: 'Inter', sans-serif;
}

* {
    font-family: var(--fonte-principal);
    text-decoration: none;
}

a {
    color: white;
}